<div class="navbar-right">

  <div class='topnav-links'>
    <% if has_user_authentication_provider? -%>
        <ul class="nav navbar-nav">

          <li>
            <%= link_to feedback_path, data: {toggle: 'collapse', target: '#feedback-form'} do %>
                Feedback
            <% end -%>
          </li>



          <li class="dropdown">
            <% vecnet_domain = 'https://www.vecnet.org'
               ci_domain = 'https://ci.vecnet.org'
            -%>
            <a href="#" class="menu-dropdown dropdown-toggle" data-toggle="dropdown">Searches<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
              </li>
              <% if has_user_authentication_provider? and current_user %>
                  <li>
                    <%= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
                  </li>

              <% end %>

              <% if render_bookmarks_control? %>
                  <li>
                    <%= link_to bookmarks_path, id:'bookmarks_nav' do %>
                        <%= t('blacklight.header_links.bookmarks') %>
                        (<span data-role='bookmark-counter'><%= current_or_guest_user.bookmarks.count %></span>)
                    <% end %>
                  </li>
              <% end %>
            </ul>
          </li>








          <li class="dropdown">
            <% vecnet_domain = 'https://www.vecnet.org'
               ci_domain = 'https://ci.vecnet.org'
            -%>
            <a href="#" class="menu-dropdown dropdown-toggle" data-toggle="dropdown">About<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "About VecNet", "#{vecnet_domain}/index.php/about-vecnet" %></li>
              <li><%= link_to "Information Sharing", "#{vecnet_domain}/index.php/about-vecnet/information-sharing" %></li>
              <li><%= link_to "Collaborations", "#{vecnet_domain}/index.php/about-vecnet/collaborations" %></li>
              <li><%= link_to "FAQ", "#{vecnet_domain}/index.php/about-vecnet/faq" %></li>
              <li><%= link_to "VecNet How To", "#{vecnet_domain}/index.php/about-vecnet/vecnet-how-to" %></li>
            </ul>
          </li>


          <li class="dropdown">
            <a href="#" class="menu-dropdown dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Data Warehouse Browser", "#{ci_domain}/datawarehouse/" %></li>
              <li><%= link_to "Digital Library", root_path %></li>
              <li><%= link_to "Transmission Simulator", "#{ci_domain}/ts/" %></li>
              <% if current_user -%>
                  <li class="divider"></li>
                  <li><%= link_to "My Uploads", "/dashboard" %></li>
                  <% if current_user.admin? -%>
                      <li><%= link_to "Admin Dashboard", "/admin_dashboard" %></li>
                  <% end -%>
              <% end -%>
            </ul>
          </li>


          <li><%= link_to "Contact", "#{vecnet_domain}/index.php/contact-us" %></li>




          <% if current_user -%>
              <li><%= link_to "Logout (#{current_user})", user_logout_url %></li>
          <% else -%>
              <li><%= link_to "Login", user_login_url(request.original_url) %></li>
          <% end -%>

          <li><%= link_to (image_tag 'vecnet-logotype-trans.png' ), "#{vecnet_domain}", class:'vecnet-home-link' %></li>


        </ul>
    <% end -%>
  </div>

</div>
