<div class="contentwrapper">

  <div class="mapwrapper col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <div id="map" class="map"></div>
  </div>

  <div class="content col-xs-11 col-sm-11 col-md-11 col-lg-11">

    <%= render 'vndl_search_form' %>

    <!--results list groups start-->

    <%= render 'example_search_results' %>

    <!--results list group end-->


    <!--footer start-->
    <footer id="footer" class="footer">
      <%= image_tag 'vecnet_logo_footer.jpg' %>

      <div class="row">


        <% vecnet_host = Rails.env == 'production' ? 'https://vecnet.org' : 'https://dev.vecnet.org' -%>
        <p>
          | <%= link_to "FAQ", "#{vecnet_host}/index.php/about-vecnet/faq" %>
          | <%= link_to "User Privacy Policy", "#{vecnet_host}/index.php/user-privacy-policy" %>
          | <%= link_to "Terms of Use", "#{vecnet_host}/index.php/terms-of-use" %>
          <br/>
          <span class="fine-print">Copyright &copy;
            2014 <%= link_to "Vector-Borne Disease Network (VecNet)", "#{vecnet_host}/" %></span>
          <br/>


          <!-- #bottom-logo end -->

      </div>
      footer &hearts; using .container-fluid rather than .container to go full width &hearts;
    </footer>
    <!--footer end-->

  </div>
  <!-- end of .content -->
</div>
<!-- end of .contentwrapper -->
</div>




