
<!-- results list item start -->
<article class="vndl-search-result search-result row">

  <!--TODO Pick which option, li or fieldset above for Hidden data element to parse with javascript to manipulate leaflet-->

  <%= content_tag :data, class: 'xvndl-results', data: {layer_id: document[:uuid], bbox: document[:solr_bbox], geom: document[:solr_geom], ptdata: document[:solr_point_list_s]} do %><% end %>

  <!--Start of data-ptdata-->
  <%= content_tag :div, hidden: true do %>
      <li data-layer-id="<%= document[:uuid] %>">
      <!--TODO change type=primary to :solr_point_type or whatever field is called-->
      <li data-rectangles="<%= document[:solr_bbox] %>" data-ui-type="primary">
      <li data-dunno="<%= document[:solr_geom] %>" data-ui-type="secondary">
      <li data-points="<%= document[:point_list_s] %>" data-ui-type="primary">
  <% end %>
  <!--End of data-ptdata-->
  <div class="col-xs-12 col-sm-12 col-md-3">

    <!--TODO Bootstrap thumbnail class is messing with this not quite right and span sizing is wrong-->
    <a href="#" title="Lorem ipsum" class="thumbnail"><img src="http://lorempixel.com/250/140/people" alt="Lorem ipsum"/></a>
  </div>

  <!--<a href="#" title="Lorem ipsum" class="thumbnail"><i class="glyphicon glyphicon-file"></i></a>-->
  <!--</div>-->
  <div class="col-xs-12 col-sm-12 col-md-2">
    <ul class="meta-search">
      <li><i class="glyphicon glyphicon-calendar"></i> <span>1928</span></li>
      <li><i class="glyphicon glyphicon-globe"></i> <span>Africa</span></li>
      <li><i class="glyphicon glyphicon-tags"></i> <span>People</span></li>
      <li><i class="glyphicon glyphicon-map-marker"></i> <span>Point</span></li>
    </ul>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
    <h3 class="result-title"><%= link_to_document document, document_show_link_field(document), title: document['dc_title_s'] %></h3>

    <p><%= snippit(document['dc_description_s']) %></p>
  </div>
  <span class="clearfix borda"></span>
</article>
<!-- results list item end -->
