<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!--<div class="page-header">-->
        <!--<h1>Metadata</h1>-->
      <!--</div>-->
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

    </div>
  </div>


  <div id="table-div" role="tabpanel">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#document-tab" aria-controls="Document" role="tab" data-toggle="tab">Map</a></li>
      <li role="presentation"><a href="#metadata-tab" aria-controls="References" role="tab" data-toggle="tab">References</a></li>
      <li role="presentation"><a href="#file-tab" aria-controls="Metadata" role="tab" data-toggle="tab">File Metadata</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="document-tab">


        <div class="row">
          <%= render 'show_default_viewer_container' %>
        </div>
      </div>


      <div role="tabpanel" class="tab-pane" id="metadata-tab">

        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped" id="metadata-table">
              <thead>
              <tr>
                <th></th>
                <th></th>

              </tr>
              </thead>
              <tbody class="searchable">
              <tr>
                <th>Catalog ID</th>
                <td><%=@document["layer_id_s"] %></td>

              </tr>
              <tr>
                <th>File Version</th>
                <td><%=@document["_version"] %></td>

              </tr>
              <tr>
                <th>Timestamp</th>
                <td><%=@document["timestamp"] %></td>

              </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>

      </div>
      <div role="tabpanel" class="tab-pane" id="file-tab">


        <div class="row">
          <div class="col-lg-12">
            <table class="table table-striped" id="file-table">
              <thead>
              <tr>
                <th></th>
                <th></th>

              </tr>
              </thead>
              <tbody class="searchable">
              <tr>
                <th>UUID</th>
                <td><%= @document["uuid"] %></td>

              </tr>
              <tr>
                <th>UUID</th>
                <td><%= @document["uuid"] %></td>

              </tr>
              <tr>
                <th>UUID</th>
                <td><%= @document["uuid"] %></td>

              </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>
      </div>



    </div>
  </div>
</div>