<% document ||= @document %>

<div class="geoblacklight-view-panel" >
  <dl class="dl-horizontal col-lg-10">

    <dt>Description</dt>
    <dd><%= @document["dc_description_s"]%></dd>

    <dt>Alternate title</dt>
    <dd><%= @document["dc_alternate_sm"]%></dd>

    <dt>Author</dt>
    <dd><%= Array(@document["dc_creator_sm"]).join(", ")%></dd>

    <dt>Author Facet</dt>
    <dd><%= @document["dc_creator_facet"]%></dd>

    <dt>Contributor</dt>
    <dd><%= @document["dc_contributor_sm"]%></dd>

    <dt>Date</dt>
    <dd><%= Array(@document["dc_created_sm"]).join(", ")%></dd>

    <dt>Data Type</dt>
    <dd><%= @document["dc_type_s"]%></dd>

    <dt>Access</dt>
    <dd><%= @document["dc_rights_s"]%></dd>


    <dt>URL</dt>
    <% hash = JSON.parse(@document["dct_references_s"]) %>
    <dd><%= link_to hash["http://schema.org/url"]%></dd>

    <!--TODO: Fish out the correct links from JSON object here || Check with Don -->
    <% if !@document.references.nil? && !@document.references.url.nil? %>
      <dt>More details at</dt>
      <dd itemprop="url"><%= link_to @document.references.url.endpoint, @document.references.url.endpoint %></dd>
    <% end %>
  </dl>
</div>

