
<form class="vndl-search">

  <!-- text search -->
  <fieldset>
    <div class="form-group">
      <legend class="sr-only">Text searching</legend>
      <label class="sr-only" for="catalog_search">search for records</label>


      <div class="input-group">
        <input class="form-control input-lg" id="catalog_search" name="q" placeholder="search for records" value="<%= get_search_query_text %>" tabindex="1" type="text"/>

        <!-- /btn-group -->
        <div class="input-group-btn">
          <button type="submit" class="search-submit btn-lg btn btn-primary" id="search-submit-header" tabindex="2">
          Search
          </button>

          <!--the dropdown caret for advanced search options-->
          <!--<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">-->
            <!--<span class="caret"></span>-->
            <!--<span class="sr-only">Toggle Dropdown</span>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu" role="menu">-->
            <!--<li><a href="#">Search full text</a></li>-->
          <!--</ul>-->
        </div>
      </div>

    </div>
  </fieldset>

  <!-- map search -->
  <fieldset id="mapfieldset">


    <legend class="col-md-2">Map</legend>
    <div class="mapnotch"></div>
    <div class="col-md-10 form-group">




      <!--<div class="btn-group" data-toggle="buttons">-->
        <!--<label class="btn btn-primary active">-->
          <!--<input name="hidemap" id="map-off" type="checkbox"> Map Off-->
        <!--</label>-->
        <!--<label class="btn btn-primary">-->
          <!--<input name="showmap" id="map-on" type="checkbox"> Map On-->
        <!--</label>-->
      <!--</div>-->

      <div class="col-sm-3">
        <input type="checkbox" class="bootstrap-checkbox" data-style="btn-group-justified">
      </div>

      <div class="checkbox checkbox-slider--b checkbox-slider-lg">
        <label>
          <span>Off </span><input type="checkbox"><span>On</span>
        </label>
      </div>

      <div id="search-map-area" class="btn-group searchmap-group">

        <div class=" btn-group" role="group" >
          <button name="searchmap" class="btn btn-primary " type="button">
            Search Visible Map Area Only
          </button>
        </div>
      </div>


    </div>
  </fieldset>


  <%= render 'did_you_mean' %>


  <%= render 'constraints' %>


  <%= render 'facets' %>


  <%= render 'sort_and_per_page' %>


</form>