
<div id="feedback-form" class="vndl-results  feedback-form-container collapse">
  <div class="container">
    <form class="form-horizontal feedback-form" role="form" action="/feedback" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="EXHJvjqN/J2g975G4wOPl2TrqzagCp06NaQCgYf52EQGqXRb9Y1pRYhNcK+LQDjHJV7cl4egYZCDKp12GQfa4w==">
      <div class="col-sm-6 col-sm-offset-1">
        <div class="col-sm-offset-3">
          Reporting from: <span class="reporting-from-field">https://earthworks.stanford.edu/</span>
          <input type="hidden" name="url" id="url" value="https://earthworks.stanford.edu/" class="reporting-from-field">

        </div>
      </div>
  <span style="display:none;visibility:hidden;">
    <label for="email_address">Ignore this text box. It is used to detect spammers. If you enter anything into this text box, your message will not be sent.</label><br>
    <input type="email" name="email_address" id="email_address"><br>
    <input type="hidden" name="user_agent" id="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.76 Safari/537.36">
    <input type="hidden" name="viewport" id="viewport" value="width:1309 height:1296">
  </span>
      <div class="col-sm-6 col-sm-offset-1">
        <div class="form-group">
          <label class="col-sm-3 control-label" for="message">Message</label>
          <div class="col-sm-9">
            <textarea name="message" id="message" rows="5" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="name">Your name</label>
          <div class="col-sm-9">
            <input type="text" name="name" id="name" value="" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="to">Your email</label>
          <div class="col-sm-9">
            <input type="email" name="to" id="to" value="" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary">Send</button>
            <button class="cancel-link btn btn-link" data-toggle="collapse" data-target="#feedback-form" href="#">Cancel</button>
          </div>
        </div>
      </div>
    </form>  <div class="col-sm-3">
     The Digital Library Beta is a trial run of adding geospatial awareness and maps to the VecNET Digital Library. <br> We'd love to hear from you with any thoughts or issue you have. <br>We promise to take criticism really well :)</a>.
  </div>
  </div>
</div>


<form class="vndl-search">

  <!-- text search -->
  <fieldset>
    <div class="form-group">
      <legend class="sr-only">Text searching</legend>
      <label class="sr-only" for="catalog_search">search for text</label>

      <div class="input-group">
        <input class="form-control input-lg" id="catalog_search" name="q" placeholder="search for text" value="<%= get_search_query_text %>" tabindex="1" type="text"/>

        <div class="input-group-btn">
          <button type="submit" class="search-submit btn-lg btn btn-primary" id="search-submit-header" tabindex="2">
            <i class="icon-search icon-white"></i> Search
          </button>
        </div>
      </div>
    </div>
  </fieldset>

  <!-- map search -->
  <fieldset id="mapfieldset">
    <legend class="sr-only">Geographic searching</legend>
    <div class="mapnotch"></div>
    <div class="form-group">
      <div class="checkbox"><label>
        <input type="checkbox" name="showmap" <%= get_map_checkbox %> value="checked"/> show results on a map
      </label></div>


      <button id="search-map-button" class="btn btn-default" type="button">
        Search visible map area
      </button>


      <!--<div class=" button-checkbox ui-group-buttons">-->
        <!--<button class="btn  btn-primary btn-lg " data-color="primary"> Show results on map</button>-->
        <!--<input type="checkbox" class="hidden" checked />-->
        <!--<div class="or or-lg"></div>-->
        <!--<button id="search-map-button" class="btn btn-default btn-lg">Search map area only</button>      </div>-->


    <!--<span class="button-checkbox">-->
        <!--<button type="button" class="btn btn-lg" data-color="primary">Primary</button>-->
        <!--<input type="checkbox" class="hidden" checked />-->
    <!--</span>-->



    </div>
  </fieldset>

  <!-- example applied facets -->
  <!--<fieldset>-->
    <!--<legend class="sr-only">Search filters applied</legend>-->
    <!--<div class="form-group">-->
      <!--&lt;!&ndash;-->
       <!--<span class="appliedFilter constraint filter filter-location_hierarchy_facet">-->
          <!--<span class="filterName">Location</span>-->
          <!--<span class="filterValue">Asia:Kingdom of Cambodia</span>-->
          <!--<a href="#" class="btnRemove imgReplace">Remove constraint Location: Asia:Kingdom of Cambodia</a>-->
      <!--</span>-->
      <!--&ndash;&gt;-->
      <!--<div class="btn-group" role="group" aria-label="location filter">-->
        <!--<div class="btn-group" role="group">-->
          <!--<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">-->
            <!--Location-->
          <!--</button>-->
          <!--<ul class="dropdown-menu dropdown-menu" role="menu">-->
            <!--<li><a href="#">Add another location filter</a></li>-->
            <!--<li><a href="#">Remove this filter</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="btn-group" role="group">-->
          <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">-->
            <!--Asia: Kingdom of Cambodia-->
            <!--<i class="fa fa-angle-down" aria-hidden="true"></i>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
            <!--<li><a href="#">Add another location filter</a></li>-->
            <!--<li><a href="#">Remove this filter</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="btn-group" role="group" aria-label="location filter">-->
        <!--<div class="btn-group" role="group">-->
          <!--<button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">-->
            <!--Author-->
          <!--</button>-->
          <!--<ul class="dropdown-menu dropdown-menu" role="menu">-->
            <!--<li><a href="#">Add another author filter</a></li>-->
            <!--<li><a href="#">Remove this filter</a></li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="btn-group" role="group">-->
          <!--<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">-->
            <!--Donatien François-->
            <!--<i class="fa fa-angle-down" aria-hidden="true"></i>-->
          <!--</button>-->
          <!--<ul class="dropdown-menu dropdown-menu-right" role="menu">-->
            <!--<li><a href="#">Add another author filter</a></li>-->
            <!--<li><a href="#">Remove this filter</a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->

    <!--</div>-->
  <!--</fieldset>-->

  <!-- available facets -->
  <!--<fieldset style="display:none">-->
    <!--<legend class="sr-only">Search filters available</legend>-->
    <!--<div class="form-group">-->

      <!--<li class="expandable_new grey">-->
        <!--<a class="accordion-toggle grey collapsed" data-toggle="collapse" data-parent="#facet_group" data-target="#collapse_Author">-->
          <!--Author<i class="icon-angle-right grey"></i>-->
        <!--</a>-->

        <!--<div style="height: 0px;" id="collapse_Author" class="accordion-body collapse">-->
          <!--<ul class="slide-list">-->
            <!--<li>-->
              <!--<a href="/?_=1422421726732&amp;f%5Bdesc_metadata__creator_facet%5D%5B%5D=Chow%2C+CY&amp;f%5Blocation_hierarchy_facet%5D%5B%5D=Asia%3AKingdom+of+Cambodia&amp;path_only=true" class="facet_select">Chow,-->
                <!--CY</a> <span class="count">1</span>-->
            <!--</li>-->
          <!--</ul>-->
          <!--&lt;!&ndash; /slide-list &ndash;&gt;-->
        <!--</div>-->
      <!--</li>-->

    <!--</div>-->

  <!--</fieldset>-->


  <%= render 'did_you_mean' %>


  <%= render 'constraints' %>


  <%= render 'facets' %>


  <%= render 'sort_and_per_page' %>


</form>