<!DOCTYPE html>
<html lang='en'>
<head>
  <title><%= render_page_title %></title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--This verification is for the ansible dev host and needs to be changed for production-->
  <meta name="google-site-verification" content="mCdCemM6bQbXz7fdggINAgr6WRUPzJDaIUyWsVMCdg8"/>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="description" content="The VecNET Digital Library Beta adds geospatial awareness and searching to malaria studies and datasets." />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="map-active <%= render_body_class %>">


<!--header_navbar start-->
  <%= render 'shared/header_navbar' %>
<!--header_navbar end-->

<!--ajax_modal start-->
  <%= render partial: 'shared/ajax_modal' %>
<!--ajax_modal end-->

<!--main-container start-->
  <div id='main-container' role='main' class='container' data-analytics-id="<%= Settings.GOOGLE_ANALYTICS_ID %>">
    <h1 class="sr-only">VecNET Digital Library beta</h1>
    <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>


    <div id="feedback-form" class="vndl-results  feedback-form-container collapse">
      <div class="container">
        <form class="form-horizontal feedback-form" role="form" action="/feedback" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="EXHJvjqN/J2g975G4wOPl2TrqzagCp06NaQCgYf52EQGqXRb9Y1pRYhNcK+LQDjHJV7cl4egYZCDKp12GQfa4w==">
          <div class="col-sm-6 col-sm-offset-1">
            <div class="col-sm-offset-3">
              Reporting from: <span class="reporting-from-field">https://earthworks.stanford.edu/</span>
              <input type="hidden" name="url" id="url" value="https://earthworks.stanford.edu/" class="reporting-from-field">

            </div>
          </div>
  <span style="display:none;visibility:hidden;">
    <label for="email_address">Ignore this text box. It is used to detect spammers. If you enter anything into this text box, your message will not be sent.</label><br>
    <input type="email" name="email_address" id="email_address"><br>
    <input type="hidden" name="user_agent" id="user_agent" value="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2272.76 Safari/537.36">
    <input type="hidden" name="viewport" id="viewport" value="width:1309 height:1296">
  </span>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="form-group">
              <label class="col-sm-3 control-label" for="message">Message</label>
              <div class="col-sm-9">
                <textarea name="message" id="message" rows="5" class="form-control"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="name">Your name</label>
              <div class="col-sm-9">
                <input type="text" name="name" id="name" value="" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label" for="to">Your email</label>
              <div class="col-sm-9">
                <input type="email" name="to" id="to" value="" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Send</button>
                <button class="cancel-link btn btn-link" data-toggle="collapse" data-target="#feedback-form" href="#">Cancel</button>
              </div>
            </div>
          </div>
        </form>  <div class="col-sm-3">
        The Digital Library Beta is the first iteration of adding geospatial awareness and maps to the VecNET Digital Library. <br> We'd love to hear from you with any thoughts or issue you have. <br>We promise to take criticism really well :)</a>.
      </div>
      </div>
    </div>


    <div class='row'>
      <%= yield %>
    </div>
  </div>
<!--main-container end-->
</body>
</html>
